name: Python Linter and Formatter

on:
  push:
    branches: [ main ]
    paths:
      - '**.py'

  pull_request:
    branches: [ main ]
    paths:
      - '**.py'

  workflow_dispatch:

permissions:
  contents: read

jobs:
    check-format-lint:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-python@v5
          with:
                python-version: 3.12
                cache: 'pip'
        - name: Install dependencies
          run: |
            python3 -m pip install --upgrade pip
            python3 -m pip install ruff black
        - name: Check linting with ruff
          run: |
            ruff check .
        - name: Check formatting with black
          run: |
            black . --verbose
